@font-face{
    font-family: JostRegular;
    src: local("Jost Regular"),
	local("Jost-Regular"),
	url(./Jost/Jost-Regular.ttf);
}
@font-face{
    font-family: JostCursiva;
    src: local("Jost Italic"),
	local("Jost-Italic"),
	url(./Jost/Jost-Italic.ttf);
}
body{
    font-family: JostRegular;
}
li{
	font-family: JostCursiva;
}
#capçalera {
	background: #FF7F99;
	height: 100px;
}	
#capçalera a {
	color: rgb(255, 255, 255);
}
#titol-capçalera {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}
	#titol-capçalera:hover {
		color: #45494b;
	}
	
	#titol-capçalera .titol {
		display: block;
    	font-weight: 700;
		font-size: 1.2em;
	}
nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 80px;
		}
			
			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
			
				nav ul li a:hover {
					background: #45494b;
                }
      .imagen-central{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 30%;
    border:2px solid #fff;
    display: block;

}

      .frase-principal{
    
}

.especialistas
{
    font-family: "Jost";
    text-align: center;
    color: black;
}

.tabla-body
{
    background-color: white;
    width:auto
}

.tabla-personas
{
    background-color: #ff7f99;
    height: 500px;
    width: 100%;
}
.imagen-redonda
{
    width: 277px;
    height: 277px;
    border-radius: 50%;
    margin: 25px;
}