@font-face{
    font-family: JostRegular;
    src: local("Jost Regular"),
	local("Jost-Regular"),
	url(./Jost/Jost-Regular.ttf);
}
@font-face{
    font-family: JostCursiva;
    src: local("Jost Italic"),
	local("Jost-Italic"),
	url(./Jost/Jost-Italic.ttf);
}

@font-face {
	font-family: JostBold;
	src: local("Jost-Bold"), url(./Jost/Jost-Bold.ttf);
}

@font-face {
	font-family: JostLight;
	src: local("Jost-Light"), url(./Jost/Jost-Light.ttf);
}

@font-face {
	font-family: JostMedium;
	src: local("Jost-Medium"), url(./Jost/Jost-Medium.ttf);
}

body{
    font-family: JostRegular;
}
li{
	font-family: JostCursiva;
}


#capçalera {
	background: #FF7F99;
	height: 100px;
}	
#capçalera a {
	color: rgb(255, 255, 255);
}
#titol-capçalera {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}
	#titol-capçalera .titol {
		display: block;
    	font-weight: 700;
		font-size: 1.2em;
	}
	.button {
		border-radius: 50px;
		background-color: #FF7F99;
		opacity: 0.6;
		filter: alpha(opacity=80);
		text-align: center;
		padding: 1px 24px;
		background-color: #ffca41 
	}
	.button:hover {
		box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);}

nav {
	float: right;
}
	nav ul {
		margin: 1;
		padding: 0;
		list-style: none;
		padding-right: 10px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 40px;
		}
			
			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
			
				nav ul li a:hover {
					background: #45494b;
					box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
                }

				
.box-central{
	width: 1877px;
	height: 800px;
	display: flex;
}
			
.imagen-central{
	width: 600px;
	height: 600px;
	border:2px solid #fff;
	display: block;
	margin-top: 5%;
	margin-left: 8%;
}
	
.contenedor-frases{
	padding: 100px 120px;
	width: fit-content;
	height: fit-content;
	line-height: 0px;
}

.frase-principal{
	font-size: 95px;
	font-family: "JostMedium";
	color: #FF7F99;
	line-height: 90px;
	margin-top: 80px;
}

.frase-secundaria{
    font-size: 30px;
	font-family: "JostMedium";
	margin-left: 10px;
	margin-top: 40px;
}
			
.boton-llamamos{
	font-size: 25px;
	font-family: "JostBold";
	text-align: center;
	color: white;
	background-color: #ffca41;
	border: 2px #ffca41;
	width: 250px;
	height: 80px;
	border-radius: 40px;
	margin-top: 80px;
	transition: width 2s height 4s;
}

.boton-llamamos:hover{
	box-shadow: 0 6px 12px 0 rgba(0,0,0,0.24), 0 10px 28px 0 rgba(0,0,0,0.19);
	transition-duration: 700ms;
	width: 300px;
}

.box-centralj{
	display: flex;
	justify-content: space-between;
	padding: 5%;
   }

.imagen-centralj{
	width: 600px;
	height: 600px;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-top-left-radius: 50%;}

.foto-perfil
{
  border-radius:50%;
  width:277px;
  height:277px;
}

.empleados
{
  display: flex;
  justify-content: space-around;
  text-align:center;
  font-family: "JostRegular";
  background-color: #FF7F99;
  padding-top: 100px;
  padding-bottom: 100px;
}

.nombres
{
  color: white;
  font-size: 18px;
}

.logo
{
  width:40px;
  height:40px;
}